@charset "utf-8";

$vl-link-visited-state: true;
$vl-pswp-assets-path: '~@govflanders/vl-ui-core/dist/img/lightbox/';
$vl-font-location: '~@govflanders/vl-ui-core/dist/font/flanders/';
$vl-icon-font-location: '~@govflanders/vl-ui-core/dist/font/iconfont/';

@import './base.scss';
