.vs/
.vscode/
.fake/
.idea/
.cache/
.parcel-cache/
.ionide/
.paket/
elm-stuff/

[Pp]ackages/
[Pp]aket-files/
[Dd]ebug/
[Rr]elease/
[Bb]uild/
[Bb]in/
[Oo]bj/
[Xx]64/
[Dd]ist/
[Tt]est[Rr]esults/

src/RoadRegistry.BackOffice.UI/output/
src/RoadRegistry.BackOffice.UI/wwwroot/
src/RoadRegistry.BackOffice.Simulator/output/
src/RoadRegistry.Legacy.Extract/output/
src/RoadRegistry.Legacy.Import/output/
src/RoadRegistry.LegacyDatabase/empty/*.bak
src/RoadRegistry.LegacyDatabase/filled/*.bak
src/RoadRegistry.LegacyDatabase/*.bcp
src/RoadRegistry.LegacyDatabase/*.cmd
src/RoadRegistry.LegacyDatabase/*.sh
src/RoadRegistry.MunicipalityDatabase/filled/*.bcp
src/RoadRegistry.StreetNameDatabase/filled/*.bcp

*.suo
*.user
*.sln.docstates
*.ntvs*
*.njsproj

node_modules/
bower_components/
debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.ncrunchproject
*ncrunchsolution
_Ncrunch_*
TestResults.xml

.DS_Store
ehthumbs.db
Icon?
Thumbs.db

structurizr-*.json
.local
run-local.bat
docker_local.sh
appsettings.seawolf.json
appsettings.shelby.json

# don't check the dev certificates in
*.cer
*.pfx
