.vs/
.vscode/
.fake/
.idea/
.cache/
.parcel-cache/
.ionide/
.paket/
elm-stuff/
docker/dynamodb/*

[Pp]ackages/
[Pp]aket-files/
[Dd]ebug/
[Rr]elease/
[Bb]uild/
[Bb]in/
[Oo]bj/
[Xx]64/
[Dd]ist/
[Tt]est[Rr]esults/
src/RoadRegistry.BackOffice.UI/output/
src/RoadRegistry.BackOffice.UI/wwwroot/
src/RoadRegistry.BackOffice.Simulator/output/
src/RoadRegistry.Legacy.Extract/output/
src/RoadRegistry.Legacy.Import/output/
src/RoadRegistry.LegacyDatabase/empty/*.bak
src/RoadRegistry.LegacyDatabase/filled/*.bak
src/RoadRegistry.LegacyDatabase/*.bcp
src/RoadRegistry.LegacyDatabase/*.cmd
src/RoadRegistry.LegacyDatabase/*.sh
src/RoadRegistry.MunicipalityDatabase/filled/*.bcp
src/RoadRegistry.StreetNameDatabase/filled/*.bcp
src/RoadRegistry.BackupDatabase/filled/*.bak
RoadRegistry.*.xml

*.suo
*.user
*.sln.docstates
*.ntvs*
*.njsproj
.env.*

node_modules/
bower_components/
debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.ncrunchproject
*ncrunchsolution
_Ncrunch_*
TestResults.xml

.DS_Store
ehthumbs.db
Icon?
Thumbs.db

.local
run-local.bat
docker_local.sh
appsettings.*.json
!appsettings.development.json

# don't check the dev certificates in
*.cer
*.pfx
src/RoadRegistry.BackOffice.UI/.env.staging
src/RoadRegistry.BackOffice.UI/.env.development
src/RoadRegistry.BackOffice.UI/.env.test
*.sln.startup.json

.localstack/data
.localstack/lambda
.localstack/s3data

scripts/backoffice/
scripts/snapshot/

.terraformrc
terraform.rc
terraform
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfstate
*.tfstate.*
**/.terraform/*
healthcheck.bin

.db

.build/**/*
!.build
!.build/Be.Vlaanderen.Basisregisters.Build.Pipeline
!.build/Be.Vlaanderen.Basisregisters.Build.Pipeline/Content
!.build/Be.Vlaanderen.Basisregisters.Build.Pipeline/Content/*.props