.vs/
.vscode/
.fake/
.idea/
.cache/
elm-stuff/
.ionide/

[Pp]ackages/
[Pp]aket-files/
[Dd]ebug/
[Rr]elease/
[Bb]uild/
[Bb]in/
[Oo]bj/
[Xx]64/
[Dd]ist/
[Tt]est[Rr]esults/

src/RoadRegistry.UI/output/
src/RoadRegistry.UI/wwwroot/
src/RoadRegistry.BackOffice.Simulator/output/
src/RoadRegistry.LegacyStreamExtraction/output/
src/RoadRegistry.LegacyStreamLoader/output/
src/RoadRegistry.LegacyDatabase/empty/legacydb.bak
src/RoadRegistry.LegacyDatabase/filled/legacydb.bak

*.suo
*.user
*.sln.docstates
*.ntvs*
*.njsproj

node_modules/
bower_components/
debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.ncrunchproject
*ncrunchsolution
_Ncrunch_*
TestResults.xml

.DS_Store
ehthumbs.db
Icon?
Thumbs.db

structurizr-*.json
appsettings.BitTacklr002.json
.local
run-local.bat
docker_local.sh

# don't check the dev certificates in
*.cer
*.pfx
