version: '3'
services:
  seq:
    image: datalust/seq:latest
    ports:
      - "5341:80"
    environment:
      ACCEPT_EULA: 'Y'
    volumes:
    - seq-data:/data

  minio:
    image: minio/minio:latest
    ports:
    - "9010:9000"
    environment:
      MINIO_ACCESS_KEY: Q3AM3UQ867SPQQA43P2F
      MINIO_SECRET_KEY: zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG
    volumes:
    - minio-data:/data
    command: server /data

  legacy-mssql:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      ACCEPT_EULA: 'Y'
      SA_PASSWORD: 'E@syP@ssw0rd'
      MSSQL_MEMORY_LIMIT_MB: 1000
      MSSQL_PID: 'Standard'
    ports:
      - "31433:1433"
    volumes:
      - legacy-mssql-data:/var/opt/mssql
      - ./src/RoadRegistry.LegacyDatabase/empty:/var/lib/backup/empty
      - ./src/RoadRegistry.LegacyDatabase/filled:/var/lib/backup/filled
  empty-legacy-mssql-seed:
    build: src/RoadRegistry.LegacyDatabase/empty
    depends_on:
      - legacy-mssql

  extract-empty-legacy:
    build: dist/RoadRegistry.Legacy.Extract/linux
    depends_on:
      - empty-legacy-mssql-seed
      - minio
      - seq
    environment:
      DOTNET_ENVIRONMENT: Development
      SERILOG__WRITETO__0__NAME: "Seq"
      SERILOG__WRITETO__0__ARGS__SERVERURL: "http://seq:80"
      SERILOG__WRITETO__1__NAME: "Console"
      SERILOG__MINIMUMLEVEL__OVERRIDE__ROADREGISTRY: "Debug"
      MINIO_SERVER: http://minio:9000
      MINIO_ACCESS_KEY: Q3AM3UQ867SPQQA43P2F
      MINIO_SECRET_KEY: zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG
      BLOBCLIENTTYPE: S3BlobClient
      S3BLOBCLIENTOPTIONS__BUCKETS__IMPORTLEGACY: road-registry-import-legacy
      CONNECTIONSTRINGS__LEGACY: Data Source=tcp:legacy-mssql,1433;Initial Catalog=LegacyRoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;
    volumes:
      - ./src/RoadRegistry.Legacy.Extract:/var/lib/RoadRegistry.Legacy.Extract

  filled-legacy-mssql-seed:
    build: src/RoadRegistry.LegacyDatabase/filled
    depends_on:
      - legacy-mssql
    volumes:
      - ./src/RoadRegistry.LegacyDatabase/filled:/var/lib/backup

  extract-filled-legacy:
    build: dist/RoadRegistry.Legacy.Extract/linux
    depends_on:
      - filled-legacy-mssql-seed
      - minio
      - seq
    environment:
      DOTNET_ENVIRONMENT: Development
      SERILOG__WRITETO__0__NAME: "Seq"
      SERILOG__WRITETO__0__ARGS__SERVERURL: "http://seq:80"
      SERILOG__WRITETO__1__NAME: "Console"
      SERILOG__MINIMUMLEVEL__OVERRIDE__ROADREGISTRY: "Debug"
      MINIO_SERVER: http://minio:9000
      MINIO_ACCESS_KEY: Q3AM3UQ867SPQQA43P2F
      MINIO_SECRET_KEY: zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG
      BLOBCLIENTTYPE: S3BlobClient
      S3BLOBCLIENTOPTIONS__BUCKETS__IMPORTLEGACY: road-registry-import-legacy
      CONNECTIONSTRINGS__LEGACY: Data Source=tcp:legacy-mssql,1433;Initial Catalog=LegacyRoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;
    volumes:
      - ./src/RoadRegistry.Legacy.Extract:/var/lib/RoadRegistry.Legacy.Extract

  mssql:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      ACCEPT_EULA: 'Y'
      SA_PASSWORD: 'E@syP@ssw0rd'
      MSSQL_MEMORY_LIMIT_MB: 4000
      MSSQL_PID: 'Standard'
    ports:
      - "21433:1433"
    volumes:
      - mssql-data:/var/opt/mssql

  mssql-seed:
    build: ./src/RoadRegistry.Database
    depends_on:
      - mssql

  import-legacy:
    build: dist/RoadRegistry.Legacy.Import/linux
    depends_on:
      - mssql-seed
      - minio
      - seq
    environment:
      DOTNET_ENVIRONMENT: Development
      SERILOG__WRITETO__0__NAME: "Seq"
      SERILOG__WRITETO__0__ARGS__SERVERURL: "http://seq:80"
      SERILOG__WRITETO__1__NAME: "Console"
      SERILOG__MINIMUMLEVEL__OVERRIDE__ROADREGISTRY: "Debug"
      MINIO_SERVER: http://minio:9000
      MINIO_ACCESS_KEY: Q3AM3UQ867SPQQA43P2F
      MINIO_SECRET_KEY: zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG
      BLOBCLIENTTYPE: S3BlobClient
      S3BLOBCLIENTOPTIONS__BUCKETS__IMPORTLEGACY: road-registry-import-legacy
      CONNECTIONSTRINGS__EVENTS: Data Source=tcp:mssql,1433;Initial Catalog=RoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;
    volumes:
      - ./src/RoadRegistry.Legacy.Extract:/var/lib/RoadRegistry.Legacy.Extract

  editor-projection-host:
    build: dist/RoadRegistry.Editor.ProjectionHost/linux
    depends_on:
      - mssql-seed
      - minio
      - seq
    environment:
      DOTNET_ENVIRONMENT: Development
      SERILOG__WRITETO__0__NAME: "Seq"
      SERILOG__WRITETO__0__ARGS__SERVERURL: "http://seq:80"
      SERILOG__WRITETO__1__NAME: "Console"
      SERILOG__MINIMUMLEVEL__OVERRIDE__ROADREGISTRY: "Debug"
      MINIO_SERVER: http://minio:9000
      MINIO_ACCESS_KEY: Q3AM3UQ867SPQQA43P2F
      MINIO_SECRET_KEY: zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG
      BLOBCLIENTTYPE: S3BlobClient
      S3BLOBCLIENTOPTIONS__BUCKETS__UPLOADS: road-registry-uploads
      CONNECTIONSTRINGS__EVENTS: Data Source=tcp:mssql,1433;Initial Catalog=RoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;
      CONNECTIONSTRINGS__EDITORPROJECTIONS: Data Source=tcp:mssql,1433;Initial Catalog=RoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;
      CONNECTIONSTRINGS__EDITORPROJECTIONSADMIN: Data Source=tcp:mssql,1433;Initial Catalog=RoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;

  product-projection-host:
    build: dist/RoadRegistry.Product.ProjectionHost/linux
    depends_on:
      - mssql-seed
      - minio
      - seq
    environment:
      DOTNET_ENVIRONMENT: Development
      SERILOG__WRITETO__0__NAME: "Seq"
      SERILOG__WRITETO__0__ARGS__SERVERURL: "http://seq:80"
      SERILOG__WRITETO__1__NAME: "Console"
      SERILOG__MINIMUMLEVEL__OVERRIDE__ROADREGISTRY: "Debug"
      CONNECTIONSTRINGS__EVENTS: Data Source=tcp:mssql,1433;Initial Catalog=RoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;
      CONNECTIONSTRINGS__PRODUCTPROJECTIONS: Data Source=tcp:mssql,1433;Initial Catalog=RoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;
      CONNECTIONSTRINGS__PRODUCTPROJECTIONSADMIN: Data Source=tcp:mssql,1433;Initial Catalog=RoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;

  wms-projection-host:
    build: dist/RoadRegistry.Wms.ProjectionHost/linux
    depends_on:
      - mssql-seed
      - seq
    environment:
      DOTNET_ENVIRONMENT: Development
      SERILOG__WRITETO__0__NAME: "Seq"
      SERILOG__WRITETO__0__ARGS__SERVERURL: "http://seq:80"
      SERILOG__WRITETO__1__NAME: "Console"
      SERILOG__MINIMUMLEVEL__OVERRIDE__ROADREGISTRY: "Debug"
      CONNECTIONSTRINGS__EVENTS: Data Source=tcp:mssql,1433;Initial Catalog=RoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;
      CONNECTIONSTRINGS__WMSPROJECTIONS: Data Source=tcp:mssql,1433;Initial Catalog=RoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;
      CONNECTIONSTRINGS__WMSPROJECTIONSADMIN: Data Source=tcp:mssql,1433;Initial Catalog=RoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;

  backoffice-event-host:
    build: dist/RoadRegistry.BackOffice.EventHost/linux
    depends_on:
      - mssql-seed
      - minio
      - seq
    environment:
      DOTNET_ENVIRONMENT: Development
      SERILOG__WRITETO__0__NAME: "Seq"
      SERILOG__WRITETO__0__ARGS__SERVERURL: "http://seq:80"
      SERILOG__WRITETO__1__NAME: "Console"
      SERILOG__MINIMUMLEVEL__OVERRIDE__ROADREGISTRY: "Debug"
      MINIO_SERVER: http://minio:9000
      MINIO_ACCESS_KEY: Q3AM3UQ867SPQQA43P2F
      MINIO_SECRET_KEY: zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG
      BLOBCLIENTTYPE: S3BlobClient
      S3BLOBCLIENTOPTIONS__BUCKETS__UPLOADS: road-registry-uploads
      CONNECTIONSTRINGS__SNAPSHOTS: Data Source=tcp:mssql,1433;Initial Catalog=RoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;
      CONNECTIONSTRINGS__SNAPSHOTSADMIN: Data Source=tcp:mssql,1433;Initial Catalog=RoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;
      CONNECTIONSTRINGS__EVENTHOST: Data Source=tcp:mssql,1433;Initial Catalog=RoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;
      CONNECTIONSTRINGS__EVENTHOSTADMIN: Data Source=tcp:mssql,1433;Initial Catalog=RoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;
      CONNECTIONSTRINGS__EVENTS: Data Source=tcp:mssql,1433;Initial Catalog=RoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;

  backoffice-command-host:
    build: dist/RoadRegistry.BackOffice.CommandHost/linux
    depends_on:
      - mssql-seed
      - minio
      - seq
    environment:
      DOTNET_ENVIRONMENT: Development
      SERILOG__WRITETO__0__NAME: "Seq"
      SERILOG__WRITETO__0__ARGS__SERVERURL: "http://seq:80"
      SERILOG__WRITETO__1__NAME: "Console"
      SERILOG__MINIMUMLEVEL__OVERRIDE__ROADREGISTRY: "Debug"
      MINIO_SERVER: http://minio:9000
      MINIO_ACCESS_KEY: Q3AM3UQ867SPQQA43P2F
      MINIO_SECRET_KEY: zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG
      BLOBCLIENTTYPE: S3BlobClient
      S3BLOBCLIENTOPTIONS__BUCKETS__UPLOADS: road-registry-uploads
      CONNECTIONSTRINGS__SNAPSHOTS: Data Source=tcp:mssql,1433;Initial Catalog=RoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;
      CONNECTIONSTRINGS__COMMANDHOST: Data Source=tcp:mssql,1433;Initial Catalog=RoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;
      CONNECTIONSTRINGS__COMMANDHOSTADMIN: Data Source=tcp:mssql,1433;Initial Catalog=RoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;
      CONNECTIONSTRINGS__EVENTS: Data Source=tcp:mssql,1433;Initial Catalog=RoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;

  backoffice-api:
    build: dist/RoadRegistry.BackOffice.Api/linux
    depends_on:
      - mssql-seed
      - editor-projection-host
      - minio
    ports:
      - "5020:10002"
    environment:
      ASPNETCORE_ENVIRONMENT: Staging
      SERILOG__WRITETO__0__NAME: "Seq"
      SERILOG__WRITETO__0__ARGS__SERVERURL: "http://seq:80"
      SERILOG__WRITETO__1__NAME: "Console"
      SERILOG__MINIMUMLEVEL__OVERRIDE__ROADREGISTRY: "Debug"
      MINIO_SERVER: http://minio:9000
      MINIO_ACCESS_KEY: Q3AM3UQ867SPQQA43P2F
      MINIO_SECRET_KEY: zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG
      BLOBCLIENTTYPE: S3BlobClient
      S3BLOBCLIENTOPTIONS__BUCKETS__UPLOADS: road-registry-uploads
      CONNECTIONSTRINGS__SNAPSHOTS: Data Source=tcp:mssql,1433;Initial Catalog=RoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;
      CONNECTIONSTRINGS__EVENTS: Data Source=tcp:mssql,1433;Initial Catalog=RoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;
      CONNECTIONSTRINGS__EDITORPROJECTIONS: Data Source=tcp:mssql,1433;Initial Catalog=RoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;
      CONNECTIONSTRINGS__PRODUCTPROJECTIONS: Data Source=tcp:mssql,1433;Initial Catalog=RoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;
      IDEMPOTENCY__CONNECTIONSTRING: Data Source=tcp:mssql,1433;Initial Catalog=RoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;
      CORS__0: "http://localhost:5010"
      CORS__1: "http://localhost:1234"

  backoffice-ui:
    build: dist/RoadRegistry.BackOffice.UI/linux
    depends_on:
      - backoffice-api
      - seq
    ports:
      - "5010:10007"
    environment:
      API_ENDPOINT: http://localhost:5020
      API_VERSION: 0.0.0

volumes:
  mssql-data:
  legacy-mssql-data:
  minio-data:
  seq-data:
