framework: net6.0
source https://api.nuget.org/v3/index.json
references: strict
strategy: max

// PRODUCTION STUFF
nuget Amazon.Lambda.Core 2.1.0
nuget Amazon.Lambda.Serialization.SystemTextJson 2.3.1
nuget Amazon.Lambda.SQSEvents 2.1.0
nuget Amazon.Lambda.TestUtilities 2.0.0
nuget AspNetCore.HealthChecks.SqlServer 6.0.2
nuget AspNetCore.HealthChecks.Kafka 6.0.2
nuget AspNetCore.HealthChecks.OpenIdConnectServer 6.0.2
nuget AspNetCore.HealthChecks.Aws.S3 6.0.2
nuget AspNetCore.HealthChecks.Aws.SQS 6.0.0
nuget AspNetCore.HealthChecks.DynamoDb 6.0.2
nuget AspNetCore.HealthChecks.Configuration 1.1.3
nuget AspNetCore.HealthChecks.Network 6.0.2
nuget AspNetCore.HealthChecks.UI.Client 6.0.2
nuget Autofac 7.0.1
nuget AutoFixture 4.18.0
nuget AutoFixture.Idioms 4.18.0
nuget AutoFixture.Xunit2 4.18.0
nuget AWSSDK.Core 3.7.107.6
nuget AWSSDK.DynamoDBv2 3.7.103.2
nuget AWSSDK.S3 3.7.104.13
nuget AWSSDK.SimpleEmailV2 3.7.103.13
nuget AWSSDK.SimpleNotificationService
nuget AWSSDK.SQS 3.7.102.2
nuget AWSSDK.Lambda 3.7.109.6
nuget Confluent.Kafka 1.8.2
nuget CompareNETObjects 4.79.0
nuget CsvHelper 30.0.1
nuget Docker.DotNet 3.125.14
nuget DotSpatial.Projections 4.0.656
nuget FeatureToggle.Common 4.0.2
nuget FluentAssertions 6.11.0
nuget FluentValidation 11.5.2
nuget FluentValidation.AspNetCore 11.3.0
nuget IdentityModel 6.1.0
nuget MediatR 12.0.1
nuget MediatR.Contracts 2.0.1
nuget MessagePack 2.5.108
nuget Moq 4.18.2
nuget NetTopologySuite 2.5.0
nuget NetTopologySuite.IO.GeoJSON 2.0.4
nuget NetTopologySuite.IO.ShapeFile 2.1.0
nuget NodaTime 3.1.9
nuget NodaTime.Testing 3.1.9
nuget NuGet.Frameworks 6.4.0
nuget Polly 7.2.3
nuget Serilog 2.12.0
nuget Serilog.AspNetCore 3.4.0
nuget Serilog.Enrichers.Environment 2.2.0
nuget Serilog.Enrichers.Thread 3.1.0
nuget Serilog.Extensions.Hosting 5.0.1
nuget Serilog.Extensions.Logging 3.1.0
nuget Serilog.Formatting.Compact 1.1.0
nuget Serilog.Settings.Configuration 3.4.0
nuget Serilog.Sinks.Seq 5.2.1
nuget Serilog.Sinks.Slack 2.2.1
nuget SqlStreamStore 1.2.0
nuget SqlStreamStore.MsSql 1.2.0
nuget Structurizr.Client 0.9.7
nuget Structurizr.Core 0.9.7
nuget Swashbuckle.AspNetCore 6.2.3
nuget Swashbuckle.AspNetCore.Annotations 6.2.3
nuget Swashbuckle.AspNetCore.Filters 6.0.1
nuget Swashbuckle.AspNetCore.Swagger 6.2.3
nuget Swashbuckle.AspNetCore.SwaggerGen 6.2.3
nuget Swashbuckle.AspNetCore.SwaggerUI 6.2.3
nuget System.Collections.Immutable 6.0.0
nuget System.Configuration.ConfigurationManager 6.0.1
nuget System.Diagnostics.DiagnosticSource 7.0.0
nuget System.Diagnostics.EventLog 7.0.0
nuget System.Drawing.Common 6.0.0
nuget System.Formats.Asn1 6.0.0
nuget System.IO.Pipelines 6.0.0
nuget System.IdentityModel.Tokens.Jwt 6.24.0
nuget System.Memory.Data 6.0.0
nuget System.Runtime.Caching 6.0.0
nuget System.Security.Cryptography.ProtectedData 6.0.0
nuget System.Security.Permissions 6.0.0
nuget System.Text.Encoding.CodePages 6.0.0
nuget System.Text.Encodings.Web 7.0.0
nuget System.Text.Json 7.0.2
nuget System.Threading.Channels 6.0.0
nuget System.Threading.Tasks.Dataflow 6.0.0
nuget System.Windows.Extensions 6.0.0
nuget SourceLink.Copy.PdbFiles 2.8.3
nuget SourceLink.Embed.AllSourceFiles 2.8.3
nuget xunit 2.4.2
nuget xunit.categories 2.0.6
nuget xunit.DependencyInjection 8.7.1
nuget xunit.DependencyInjection.Logging 8.0.1
nuget xunit.runner.visualstudio 2.4.5

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.AcmIdm 1.3.6
nuget Be.Vlaanderen.Basisregisters.AggregateSource 8.0.0
nuget Be.Vlaanderen.Basisregisters.AggregateSource.ExplicitRouting 8.0.0
nuget Be.Vlaanderen.Basisregisters.AggregateSource.SqlStreamStore.Autofac 8.0.0
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing 8.0.0
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.CommandHandling 8.0.0
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.SqlStreamStore.Autofac 8.0.0
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.Xunit 8.0.0
nuget Be.Vlaanderen.Basisregisters.Api 20.0.1
nuget Be.Vlaanderen.Basisregisters.Aws.DistributedMutex 3.0.4
nuget Be.Vlaanderen.Basisregisters.Aws.DistributedS3Cache 1.0.5
nuget Be.Vlaanderen.Basisregisters.Aws.Lambda 2.0.1
nuget Be.Vlaanderen.Basisregisters.BlobStore 3.0.0
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 6.0.7
nuget Be.Vlaanderen.Basisregisters.CommandHandling 8.0.0
nuget Be.Vlaanderen.Basisregisters.CommandHandling.Idempotency 8.0.0
nuget Be.Vlaanderen.Basisregisters.CommandHandling.SqlStreamStore 8.0.0
nuget Be.Vlaanderen.Basisregisters.DataDog.Tracing.AspNetCore 5.0.3
nuget Be.Vlaanderen.Basisregisters.DataDog.Tracing.Autofac 5.0.3
nuget Be.Vlaanderen.Basisregisters.DataDog.Tracing.SqlStreamStore 5.0.3
nuget Be.Vlaanderen.Basisregisters.EventHandling 4.2.3
nuget Be.Vlaanderen.Basisregisters.EventHandling.Autofac 4.2.3
nuget Be.Vlaanderen.Basisregisters.GrAr.Contracts 19.1.0
nuget Be.Vlaanderen.Basisregisters.GrAr.Legacy 19.1.0
nuget Be.Vlaanderen.Basisregisters.GrAr.Provenance 19.1.0
nuget Be.Vlaanderen.Basisregisters.MessageHandling.AwsSqs.Simple 4.9.1
nuget Be.Vlaanderen.Basisregisters.MessageHandling.Kafka.Consumer 4.9.1
nuget Be.Vlaanderen.Basisregisters.MessageHandling.Kafka.Producer 4.9.1
nuget Be.Vlaanderen.Basisregisters.MessageHandling.Kafka.Simple 4.9.1
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.LastChangedList 11.0.7
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Runner 11.0.7
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.SqlStreamStore 11.0.7
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.SqlStreamStore.Autofac 11.0.7
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Syndication 11.0.7
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Testing.Xunit 11.0.7
nuget Be.Vlaanderen.Basisregisters.Projector 13.0.10
nuget Be.Vlaanderen.Basisregisters.Shaperon 9.0.1
nuget Be.Vlaanderen.Basisregisters.Shaperon.Geometries 9.0.1
nuget Be.Vlaanderen.Basisregisters.Sqs 2.1.3
nuget Be.Vlaanderen.Basisregisters.Sqs.Lambda 2.1.3
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Connector.Testing 11.0.7
nuget Be.Vlaanderen.Basisregisters.Testing.Infrastructure.Events 3.0.0 content: true, copy_content_to_output_dir: always, copy_local: true
nuget Be.Vlaanderen.Basisregisters.TicketingService.Abstractions 1.16.2
nuget Be.Vlaanderen.Basisregisters.TicketingService.Proxy.HttpProxy 1.16.2

// MICROSOFT STUFF
nuget Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore 6.0.10
nuget Microsoft.AspNetCore.JsonPatch 6.0.10
nuget Microsoft.AspNetCore.Mvc.NewtonsoftJson 6.0.10
nuget Microsoft.Data.SqlClient 5.1.1
nuget Microsoft.EntityFrameworkCore 6.0.16
nuget Microsoft.EntityFrameworkCore.Abstractions 6.0.16
nuget Microsoft.EntityFrameworkCore.Design 6.0.16
nuget Microsoft.EntityFrameworkCore.InMemory 6.0.16
nuget Microsoft.EntityFrameworkCore.Relational 6.0.16
nuget Microsoft.EntityFrameworkCore.SqlServer.NetTopologySuite 6.0.16
nuget Microsoft.Extensions.ApiDescription.Server 7.0.0
nuget Microsoft.Extensions.Caching.Abstractions 7.0.0
nuget Microsoft.Extensions.Configuration 7.0.0
nuget Microsoft.Extensions.Configuration.Abstractions 7.0.0
nuget Microsoft.Extensions.Configuration.Binder 7.0.4
nuget Microsoft.Extensions.Configuration.CommandLine 7.0.0
nuget Microsoft.Extensions.Configuration.EnvironmentVariables 7.0.0
nuget Microsoft.Extensions.Configuration.FileExtensions 7.0.0
nuget Microsoft.Extensions.Configuration.Json 7.0.0
nuget Microsoft.Extensions.DependencyInjection 7.0.0
nuget Microsoft.Extensions.DependencyInjection.Abstractions 7.0.0
nuget Microsoft.Extensions.DependencyModel 7.0.0
nuget Microsoft.Extensions.Diagnostics.HealthChecks 6.0.16
nuget Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions 6.0.16
nuget Microsoft.Extensions.Diagnostics.HealthChecks.EntityFrameworkCore 6.0.16
nuget Microsoft.Extensions.FileProviders.Abstractions 7.0.0
nuget Microsoft.Extensions.FileProviders.Embedded 7.0.0
nuget Microsoft.Extensions.FileProviders.Physical 7.0.0
nuget Microsoft.Extensions.FileSystemGlobbing 7.0.0
nuget Microsoft.Extensions.Hosting 7.0.0
nuget Microsoft.Extensions.Hosting.Abstractions 7.0.0
nuget Microsoft.Extensions.Http 7.0.0
nuget Microsoft.Extensions.Http.Polly 7.0.0
nuget Microsoft.Extensions.Localization 7.0.0
nuget Microsoft.Extensions.Localization.Abstractions 7.0.0
nuget Microsoft.Extensions.Logging 7.0.0
nuget Microsoft.Extensions.Logging.Abstractions 7.0.0
nuget Microsoft.Extensions.Options.ConfigurationExtensions 7.0.0
nuget Microsoft.Extensions.Primitives 7.0.0
nuget Microsoft.IO.RecyclableMemoryStream 2.2.1
nuget Microsoft.Identity.Client 4.53.0
nuget Microsoft.Identity.Client.Extensions.Msal 2.29.0
nuget Microsoft.IdentityModel.Protocols 6.24.0
nuget Microsoft.IdentityModel.Protocols.OpenIdConnect 6.24.0
nuget Microsoft.Net.Http.Headers 2.2.8
nuget Microsoft.NET.StringTools 17.5.0
nuget Microsoft.NET.Test.Sdk 17.5.0
nuget Microsoft.NETCore.Platforms 6.0.6
nuget Microsoft.OpenApi 1.6.4
nuget Microsoft.Win32.SystemEvents 6.0.1
nuget NETStandard.Library 2.0.3

