framework: net6.0
source https://api.nuget.org/v3/index.json

nuget Albedo
nuget AspNetCore.HealthChecks.SqlServer
nuget Autofac
nuget CompareNETObjects
nuget CsvHelper
nuget DotSpatial.Projections
nuget FeatureToggle.Net6
nuget FluentAssertions
nuget MessagePack
nuget Moq
nuget NodaTime
nuget NodaTime.Testing
nuget Polly
nuget Swashbuckle.AspNetCore.SwaggerUI ~> 6.0

# group Be.Vlaanderen
  nuget Be.Vlaanderen.Basisregisters.AggregateSource ~> 7.0
  nuget Be.Vlaanderen.Basisregisters.AggregateSource.ExplicitRouting ~> 7.0
  nuget Be.Vlaanderen.Basisregisters.AggregateSource.SqlStreamStore.Autofac ~> 7.0
  nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing ~> 7.0
  nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.CommandHandling ~> 7.0
  nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.SqlStreamStore.Autofac ~> 7.0
  nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.Xunit ~> 7.0
  nuget Be.Vlaanderen.Basisregisters.Api ~> 18.0
  nuget Be.Vlaanderen.Basisregisters.Aws.DistributedMutex ~> 3.0
  nuget Be.Vlaanderen.Basisregisters.Aws.Lambda ~> 1.0
  nuget Be.Vlaanderen.Basisregisters.BlobStore ~> 3.0
  nuget Be.Vlaanderen.Basisregisters.Build.Pipeline ~> 6.0
  nuget Be.Vlaanderen.Basisregisters.CommandHandling ~> 7.0
  nuget Be.Vlaanderen.Basisregisters.CommandHandling.Idempotency ~> 7.0
  nuget Be.Vlaanderen.Basisregisters.CommandHandling.SqlStreamStore ~> 7.0
  nuget Be.Vlaanderen.Basisregisters.DataDog.Tracing.AspNetCore ~> 5.0
  nuget Be.Vlaanderen.Basisregisters.DataDog.Tracing.Autofac ~> 5.0
  nuget Be.Vlaanderen.Basisregisters.DataDog.Tracing.SqlStreamStore ~> 5.0
  nuget Be.Vlaanderen.Basisregisters.EventHandling ~> 4.0
  nuget Be.Vlaanderen.Basisregisters.EventHandling.Autofac ~> 4.0
  nuget Be.Vlaanderen.Basisregisters.GrAr.Contracts ~> 17.0
  nuget Be.Vlaanderen.Basisregisters.GrAr.Legacy ~> 17.0
  nuget Be.Vlaanderen.Basisregisters.MessageHandling.AwsSqs.Simple ~> 4.0
  nuget Be.Vlaanderen.Basisregisters.MessageHandling.Kafka.Simple ~> 4.0
  nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Connector.Testing ~> 11.0
  nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.LastChangedList ~> 11.0
  nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Runner ~> 11.0
  nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.SqlStreamStore ~> 11.0
  nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.SqlStreamStore.Autofac ~> 11.0
  nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Syndication ~> 11.0
  nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Testing.Xunit ~> 11.0
  nuget Be.Vlaanderen.Basisregisters.Projector ~> 12.0
  nuget Be.Vlaanderen.Basisregisters.Shaperon ~> 9.0
  nuget Be.Vlaanderen.Basisregisters.Shaperon.Geometries ~> 9.0
  nuget Be.Vlaanderen.Basisregisters.Testing.Infrastructure.Events ~> 3.0 content: true, copy_content_to_output_dir: always, copy_local: true

# group Amazon
  nuget Amazon.Lambda.Core
  nuget Amazon.Lambda.SQSEvents
  nuget Amazon.Lambda.Serialization.SystemTextJson
  nuget Amazon.Lambda.TestUtilities
  nuget AWSSDK.S3

# group AutoFixture
  nuget AutoFixture 
  nuget AutoFixture.Idioms
  nuget AutoFixture.Xunit2 

# group Docker
  nuget Docker.DotNet
  nuget Ductus.FluentDocker
  nuget Ductus.FluentDocker.Xunit

# group FluentValidation
  nuget FluentValidation ~> 10.0
  nuget FluentValidation.AspNetCore ~> 10.0
  nuget FluentValidation.DependencyInjectionExtensions ~> 10.0

# group MediatR
  nuget MediatR
  nuget MediatR.Contracts
  nuget MediatR.Extensions.Autofac.DependencyInjection

# group Microsoft
  nuget Microsoft.Data.SqlClient
  nuget Microsoft.EntityFrameworkCore
  nuget Microsoft.EntityFrameworkCore.Abstractions
  nuget Microsoft.EntityFrameworkCore.Design
  nuget Microsoft.EntityFrameworkCore.InMemory
  nuget Microsoft.EntityFrameworkCore.Relational
  nuget Microsoft.EntityFrameworkCore.SqlServer.NetTopologySuite
  nuget Microsoft.Extensions.Configuration
  nuget Microsoft.Extensions.Configuration.Binder
  nuget Microsoft.Extensions.Configuration.CommandLine
  nuget Microsoft.Extensions.Configuration.EnvironmentVariables
  nuget Microsoft.Extensions.Configuration.FileExtensions
  nuget Microsoft.Extensions.Configuration.Json
  nuget Microsoft.Extensions.DependencyInjection
  nuget Microsoft.Extensions.DependencyInjection.Abstractions
  nuget Microsoft.Extensions.Hosting
  nuget Microsoft.Extensions.Http.Polly
  nuget Microsoft.Extensions.Localization
  nuget Microsoft.Extensions.Logging
  nuget Microsoft.Extensions.Options.ConfigurationExtensions
  nuget Microsoft.IO.RecyclableMemoryStream
  nuget Microsoft.NET.Test.Sdk ~> 17.0
  nuget Microsoft.Net.Http.Headers

# group NetTopologySuite
  nuget NetTopologySuite
  nuget NetTopologySuite.IO.GeoJSON

# group Serilog
  nuget Serilog
  nuget Serilog.AspNetCore
  nuget Serilog.Enrichers.Environment
  nuget Serilog.Enrichers.Thread
  nuget Serilog.Extensions.Hosting
  nuget Serilog.Extensions.Logging
  nuget Serilog.Formatting.Compact
  nuget Serilog.Settings.Configuration
  nuget Serilog.Sinks.Seq

# group SourceLink
  nuget SourceLink.Copy.PdbFiles
  nuget SourceLink.Embed.AllSourceFiles

# group StreamStore
  nuget SqlStreamStore
  nuget SqlStreamStore.MsSql

# group Structurizr
  nuget Structurizr.AdrTools ~> 0.0
  nuget Structurizr.Client ~> 0.0
  nuget Structurizr.Core ~> 0.0

# group System
  nuget System.Collections.Immutable
  nuget System.Text.Encoding.CodePages
  nuget System.Threading.Channels
  nuget System.Threading.Tasks.Dataflow

# group Xunit
  nuget xunit
  nuget xunit.DependencyInjection
  nuget xunit.DependencyInjection.Logging
  nuget xunit.categories
  nuget xunit.runner.visualstudio
