[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
C = BE
L = Ghent
O = Vlaamse Overheid
OU = Informatie Vlaanderen
CN = dev.weg.basisregisters.vlaanderen.be
[v3_req]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = dev.weg.basisregisters.vlaanderen.be
DNS.2 = api.dev.weg.basisregisters.vlaanderen.be
