version: '3.8'

services:

  legacy-extract-empty:
    build: ../../dist/RoadRegistry.Legacy.Extract/linux
    container_name: legacy-extract-empty
    extends:
      file: base.yml
      service: dotnet-blob-service
    depends_on:
      - legacy-mssql-seed-empty
    environment:
      S3BLOBCLIENTOPTIONS__BUCKETS__IMPORTLEGACY: road-registry-import-legacy
      CONNECTIONSTRINGS__LEGACY: Data Source=tcp:legacy-mssql,1433;Initial Catalog=LegacyRoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;TrustServerCertificate=True
    volumes:
      - ../../src/RoadRegistry.Legacy.Extract:/var/lib/RoadRegistry.Legacy.Extract
    profiles:
      - legacy

  legacy-extract-filled:
    build: ../../dist/RoadRegistry.Legacy.Extract/linux
    container_name: legacy-extract-filled
    extends:
      file: base.yml
      service: base-blob-service
    depends_on:
      - legacy-mssql-seed-filled
    environment:
      S3BLOBCLIENTOPTIONS__BUCKETS__IMPORTLEGACY: road-registry-import-legacy
      CONNECTIONSTRINGS__LEGACY: Data Source=tcp:legacy-mssql,1433;Initial Catalog=LegacyRoadRegistry;Integrated Security=False;User ID=sa;Password=E@syP@ssw0rd;TrustServerCertificate=True
    volumes:
      - ../../src/RoadRegistry.Legacy.Extract:/var/lib/RoadRegistry.Legacy.Extract
    profiles:
      - legacy

  legacy-mssql:
    container_name: legacy-mssql   
    extends:
      file: base.yml
      service: mssql
    ports:
      - 31433:1433
    volumes:
      - legacy-mssql-data:/var/opt/mssql
      - ../../src/RoadRegistry.LegacyDatabase/empty:/var/lib/backup/empty
      - ../../src/RoadRegistry.LegacyDatabase/filled:/var/lib/backup/filled
    profiles:
      - legacy

  legacy-mssql-seed-empty:
    build: ../../src/RoadRegistry.LegacyDatabase/empty
    container_name: legacy-mssql-seed-empty
    depends_on:
      - legacy-mssql
    profiles:
      - seed

  legacy-mssql-seed-filled:
    build: ../../src/RoadRegistry.LegacyDatabase/filled
    container_name: legacy-mssql-seed-filled
    depends_on:
      - legacy-mssql
    volumes:
      - ../../src/RoadRegistry.LegacyDatabase/filled:/var/lib/backup
    profiles:
      - seed

volumes:
  legacy-mssql-data:
    name: legacy-mssql-data
    external: true

networks:
  default:
    name: road-registry-network
    external: true
