version: '3.8'

services:

  localstack:
    image: localstack/localstack
    container_name: localstack
    restart: always
    ports:
      - 4566:4566
      - 4510-4559:4510-4559
    environment:
      SERVICES: s3,sqs,lambda,dynamodb,logs
      DOCKER_HOST: unix:///var/run/docker.sock
      LAMBDA_EXECUTOR: docker
      LAMBDA_REMOTE_DOCKER: 0
      LAMBDA_DOCKER_FLAGS: "-p 19891:19891"
      LAMBDA_REMOVE_CONTAINERS: false
      DEBUG: 1
      PORT_WEB_UI: 8081
    volumes:
      - localstack-data:/var/lib/localstack
      - ../../.localstack/init:/etc/localstack/init
      - ../../.localstack/lambda:/var/lib/localstack/lambda
      - /var/run/docker.sock:/var/run/docker.sock

  seq:
    image: datalust/seq:latest
    container_name: seq
    restart: always
    ports:
      - 5341:80
    environment:
      ACCEPT_EULA: 'Y'
    volumes:
      - seq-data:/data

  kafka:
    image: confluentinc/cp-kafka:7.0.1
    container_name: kafka
    restart: always
    ports:
      - 9092:9092
    depends_on:
      - kafka-admin
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: kafka-admin:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://broker:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1

  kafka-admin:
    image: confluentinc/cp-zookeeper:7.0.1
    container_name: kafka-admin
    restart: always
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  postgresql:
    image: postgres
    container_name: postgresql
    restart: always
    environment:
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: E@syP@ssw0rd

  postgresql-admin:
    image: adminer
    container_name: postgresql-admin
    restart: always
    ports:
      - 8081:8080

  wiremock:
    image: rodolpheche/wiremock:2.29.1
    container_name: wiremock
    volumes:
      - ../../wiremock/mappings:/home/wiremock/mappings
    ports:
      - 8080:8080
  
  ticketing-service:
    image: 830031229216.dkr.ecr.eu-west-1.amazonaws.com/ticketing-service/ticketing:1.8.1
    container_name: ticketing-service
    extends:
      file: base.yml
      service: dotnet-service
    depends_on:
      - postgresql
      - postgresql-admin
    environment:
      BASEURL: http://localhost:9100
      CONNECTIONSTRINGS__MARTEN: Server=postgresql;Port=5432;Database=ticketing;Userid=sa;Password=E@syP@ssw0rd;Trust Server Certificate=true;Timeout=120
      CORS__0: http://localhost:3000
      CORS__1: http://localhost:5000
    ports:
      - 9100:9000

volumes:
  localstack-data:
    name: localstack-data
    external: true    
  seq-data:
    name: seq-data
    external: true

networks:
  default:
    name: road-registry-network
    external: true
